body {background-color: black;}
body {text-align:left;}

        #paramain {color: hotpink;}
        #read {color: whitesmoke;}
        #para1 {
            color:hotpink ;
            }
        #para2 {
            color: white;
            }
        #para3 {
            color:  hotpink;
            }
        #para4 {
            color:  white;
            }
        #para5 {
            color: hotpink ;
            }
            button{color: hotpink;}
            button{background-color: whitesmoke;}
            button{border-left: lightcoral;}
            button{width: 200px;}
            button{height:40px;}  
            input{text-align:left;
            height: 20px;
            width: 200px;
            }  
            
    
