body {
    background-image:url('img/logo.png');
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}
/*.content*/body{text-align:left;}


        #paramain {color: hotpink;}
        #read {color: whitesmoke;}
        #para1 {
            color:hotpink ;
            }
        #para2 {
            color: white;
            }
        #para3 {
            color:  hotpink;
            }
        #para4 {
            color:  white;
            }
        #para5 {
            color: hotpink ;
            }
            button{color: hotpink;}
            button{background-color: whitesmoke;}
            button{border-left: lightcoral;}
            button{width: 200px;}
            button{height:40px;
            border-radius: 20px;
            }  
            input{text-align:left;
            height: 20px;
            width: 200px;
            }  
            image{
                box-align: right;
            }
            input{
                border-radius: 13px;
            }
        
