body {background-color: lightblue;}
        #paramain {color: white;}
        #read {color: white;}
        #para1 {
            color: white;
            }
        #para2 {
            color: white;
            }
        #para3 {
            color:  white;
            }
        #para4 {
            color:  white;
            }
        #para5 {
            color: white ;
            }
            button{color: rebeccapurple}